binutils-build

# Object files
*.o
*.ko
*.obj
*.elf
*.cache

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Scripts
__pycache__
*.pyc

# IDE
*.swp

.gdb_history
